:root {
    --background12text-color: #FFFFFF;
    --h2h3text-color: #212121;
    --sectionourteam-background: #F5F4FA;
    --footer-background: #2F303A;
    --text-color: #757575;
    --footeradress-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --logo-color: #000;
}